@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: slussen;
    src: url(/assets/fonts/SlussenExpandedBlack.otf);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

html, body {
    overscroll-behavior-x: none;
}

body {
    color: black;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
}

.direction {
    direction: rtl;
}

.heroMainText {
    inset: 0;
    background-color: white;
    color: #000;
    mix-blend-mode: screen;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.stretch {
    font-stretch: ultra-expanded;
}
  