@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Lausanne;
    src: url(/assets/fonts/Lausanne-Regular.otf);
}

@font-face {
    font-family: NohemiBlack;
    src: url(/assets/fonts/Nohemi-Black.ttf);
}

@font-face {
    font-family: NohemiThin;
    src: url(/assets/fonts/Nohemi-Thin.ttf);
}

@font-face {
    font-family: UniversLight;
    src: url(/assets/fonts/UniversLight.ttf);
}

@font-face {
    font-family: UniversRegular;
    src: url(/assets/fonts/UniversRegular.ttf);
}

@font-face {
    font-family: UniversBold;
    src: url(/assets/fonts/UniversBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior-x: none;
}

body {
    color: black;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
}

.direction {
    direction: rtl;
}

.heroMainText {
    inset: 0;
    background-color: white;
    color: #000;
    mix-blend-mode: screen;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  